/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  padding: 15px 40px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
} */

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: #00adb5;
}
/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(2, 6, 23, 0.85);
  backdrop-filter: blur(12px);
}

/* ===== LEFT LOGO ===== */
.nav-left {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

/* Circle with KP */
.logo-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;

  color: white;
  background: linear-gradient(135deg, #38bdf8, #22c55e);

  box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
  transition: all 0.35s ease;
}

/* Name text */
.logo-name {
  font-size: 18px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
  margin-left: -2px;
}

/* Hover effects */
.nav-left:hover .logo-circle {
  transform: scale(1.08) rotate(8deg);
  box-shadow: 0 0 25px rgba(34, 197, 94, 0.9);
}

.nav-left:hover .logo-name {
  color: #38bdf8;
}

/* ===== NAV LINKS ===== */
.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .logo-name {
    display: none; /* mobile pe sirf KP circle */
  }
}

