* {
  /* margin: 0;
  padding-left: 20px; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #333;
  line-height: 1.6;
  
}

section {
  padding: 70px 50px;
}

h1, h2 {
  margin-bottom: 20px;
}

.section-divider {
  width: 100%;
  height: 2px;
  margin: 10px 0;   /* gap control */
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.25),
    transparent
  );
}
.section-divider {
  box-shadow: 0 0 12px rgba(56, 189, 248, 0.25);
}
.home,
.about {
  scroll-margin-top: 50px;
}

.section-title {
  position: relative;
  display: inline-block;
  width: auto;
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 12px;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #38bdf8, #22c55e);
  transform: translateX(-50%);
}

.section-title.always-active::after {
  width: 80%;
}

.section-title.always-active {
  opacity: 1;
  transform: translateY(0);
}
